<!-- carsoul slider -->

{% if section.settings.carousel_heading != blank %}
  <div class="heading2">
    <h2>
      <center>{{ section.settings.carousel_heading }}</center>
    </h2>
  </div>
{% endif %}
<div class="main_div">
  {% for block in section.blocks %}
    <div class="crousel_slider">
      <div class="carousel_slider1">
        <img src="{{block.settings.image_slider | img_url:'master'}}">
      </div>
    </div>
  {% endfor %}
</div>
{% schema %}
{
  "name": "carousel-slider",
  "settings": [
  {
    "type": "text",
    "id": "carousel_heading",
    "label": "Title",
    "default": "Title"
  }
],

  "blocks":[
{
  "type":"heder",
   "name":"carousel-slider",
   "limit":6,
   "settings":[
{
  "type": "image_picker",
  "id": "image_slider",
  "label": "Logo image"
}
]
}
],
"presets": [
              {
                "name":"carousel-slider",
                "category":"custom"
              }
          ]
}
{% endschema %}
<style>
  .main_div{
    overflow:hidden;
    width:90%;
    margin:auto;
    padding-bottom:100px;
  }
  .crousel_slider img{
    width:100%;
    padding:10px;
  }
  .slick-prev{
      position: absolute;
      top: 50%;
      display: block;
      width: 20px;
      height: 20px;
      padding: 0;
      transform: translate(0, -90%);
      cursor: pointer;
      color: pink;
      border: none;
      outline: none;
      z-index:20;
      left: 35px;
  }
  .slick-next{
      position: absolute;
      top: 50%;
      display: block;
      width: 20px;
      height: 20px;
      padding: 0;
      transform: translate(-90, 0%);
      cursor: pointer;
      color: pink;
      border: none;
      outline: none;
      right: 35px;
  }
</style>
<script>
  $(document).ready(function() {
     $('.main_div').slick({
      slidesToShow:4,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed:2000,
      infinite: true,
      responsive: [
  {
    breakpoint: 768,
      settings: {
      arrows: false,
      slidesToShow: 3
      }
    },
    {
      breakpoint: 400,
      settings: {
        arrows: false,
        slidesToShow: 1
      }
     }
    ]
     });
  });
</script>
