<!--Doctor-page-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<section class="bg-white">
  <div class="container man_section text-center pt-5">
    <div class="main_section_title">
      <h2 class="section_title">
        {{ section.settings.footer_linklist_title }}
      </h2>
    </div>
    <div class="row">
      <div class="col-md-5 mt-5">
        <h4 class="mt-5 text-center text-md-left">
          <p class="doctor_bottom_text">
             {{ section.settings.doctor_bottom_text }}
          </p>
        </h4>
      </div>
      <div class="col-md-7">
        <div class="img-section ml-auto pr-0 d-none d-md-block mt-md-n5">
          <img src="{{section.settings.banner_image | img_url:'master'}}"/>
        </div>
        {% for block in section.blocks %}
        <div class="caption">
          <h5 class="text-green">{{ block.settings.text }}</h5>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Solution-section",
    "settings": [
    {
      "type": "text",
      "id": "footer_linklist_title",
      "label": "Heading",
      "default": "Quick links"
    },
    {
      "type": "text",
      "id": "doctor_bottom_text",
      "label": "Heading",
      "default": "Quick links"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Logo image"
    }
  ],
  "blocks":[
    {
      "type":"heder",
       "name":"carousel-slider",
       "limit":6,
       "settings":[
      {
        "type": "text",
        "id": "text",
        "label": "Heading",
        "default": "Quick links"
      }
    ]
   }
  ],
  "presets":[
              {
                "name":"Solution_section",
                "category":"custom"
              }
            ]
}
{% endschema %}
<style>
  .section_title{
    font-size: 44px;
    font-weight: 800;
    line-height: 1.25;
    letter-spacing: -.22px;
    margin-bottom: 30px;
  }
  .doctor_bottom_text{
    font-size:22px;
    font-weight:500;
    padding-top:150px;
  }
  .img-section img{
    max-width:100%;
    position:relative;
  }
  .img-section .caption h5:first-child{
    top:50%;
    left:0;
  }
  .caption{
    position: absolute;
    width: 170px;
  }
  .text-green{
    font-size:20px;
    color:#95b266;
    font-weight:600;
  }
</style>