<div id="shopify-section-template--15972308517042__1664363846e056ff7b" class="shopify-section">
<div class="three_fold">
  <div class="container">
    
      <div class="three_fold_heading text-center"> 
        <p class="three-fold-head">Traya के तीन स्तम्भ</p> 
      </div>
    
    <div class="content__wrapper text-center px-2">
      <p class="subheading py-4 mb-0">बालों के झड़ने के लिए Traya की व्यापक योजना</p> 
      <h5 class="content_ways mb-4 pt-2">आयुर्वेदा + डर्मेटोलॉजी + न्यूट्रिशन</h5> 
      <p class="description mb-md-5 mb-3">Traya के Doctors तीन विज्ञानों को जोड़कर सर्वोत्तम स्रोतों से सामग्री के साथ आपका Treatment plan तैयार करते है</p> 
      <a class="btn btn-dark take-the-hair-test" href="https://form.traya.health/lg-hi?cohort=1&amp;location=Ingredients">हेयर टेस्ट लें</a> 
   </div>
  </div>
</div>
  

<style data-shopify="">
  
  .three_fold {
      background: url('//cdn.shopify.com/s/files/1/0100/1622/7394/files/home-sec_5ed1d6ef-de7c-4883-a2da-bc34c8410ea7.jpg?v=1667803922');
      background-repeat: no-repeat,no-repeat;
      background-size: 100%;
      padding: 30px 0 20px;
  }
  @media only screen and (max-width: 767.98px) {
    .three_fold {
      background: none;
      padding: 0px;
    }
    .content__wrapper {
      background: url('//cdn.shopify.com/s/files/1/0100/1622/7394/files/home-sec_5ed1d6ef-de7c-4883-a2da-bc34c8410ea7.jpg?v=1667803922');
      background-size: contain;
      background-repeat: no-repeat;
      padding: 0;
    }
  }
  
</style>

<style data-shopify="">
/*   .three-fold-head:before {
    content: '';
    width: 10%;
    height: 8px;
    position: absolute;
    background: #414042;
    border-radius: 6px;
    left: 50%;
    top: 0px;
    transform: translate(-50%);
  } */
  .three-fold-head {
    font-size: 44px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -.22px;
    margin-bottom: 30px!important;
    position: relative;
/*     padding-top:40px; */
  }
  .subheading {
    font-size: 18px;
    line-height: 1.61;
    color: #414042;
    padding:24px 0!important;
    letter-spacing:0;
  }
  .content__wrapper {
    max-width: 690px;
    margin: 0 auto;
  }
  .content_ways {
    line-height: 1.03;
    color: #414042;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: normal;
  }
  .description {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.24px;
    color: #939598;
  }
  @media only screen and (max-width: 767.98px){
    .three-fold-head:before {
      width: 25%;
    }
    .three-fold-head {
      font-size: 30px;
    }
    .subheading {
      font-size: 12px;
      max-width: 147px;
      margin: 0 auto;
    }
    .content_ways {
      font-size: 12px;
    }
    .description {
      font-size: 16px;
    } 
  }
</style>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}
