input.fill {
  padding: 14px;
  border-radius: 50px;
  border: none;
  outline: none;
/*   margin-top: -12px; */
/*   margin-right:20px; */
  border: 1px solid #000;
  width: 59%;
}
.btn-section-block{
  border-radius: 50px;
  border: none;
  outline: none;
  padding: 14px;
  width:20%;
  background: #000;
  font-weight:bold;
  color: #fff;
  font-size: 14px;
}
#pincode_show_alert{
  font-weight: bold;
  font-size: 14px;
}
::placeholder{
  font-size: 14px;
}